
body{
    font-family: 'Roboto' !important;
}

/* Estilos para la barra de navegación */
.navbar{
    background-color: #0166BC;
    box-shadow: 0vh 0.5vh 1vh 0vh rgba(0, 0, 0, 0.9) !important;
    text-align: center;
    margin-bottom: 1vh;
}


.navbar-nav {
    margin-left: auto;
}

.navbar-brand{
    color: #ffffff !important;
    font-weight: 900;
}

.navbar-nav .nav-link {
    color: #ffffff; /* Change the text color */
    font-size: 3vh;
}

.nav-link:active {
    color: #ee9e1b !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238, 158, 27, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;

}

.navbar-toggler {
    border: 0.1vh solid white !important; /* Cambia el color y el grosor del borde aquí */
    border-radius: 1vh !important; /* Ajusta el radio del borde */
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important; /* Quitar el outline */
    border: 2px solid #ee9e1b !important; /* Mantener el borde blanco */
    box-shadow: none !important; /* Eliminar cualquier sombra que se aplique al enfoque */
}

/*Carousel */ 

.carousel-caption {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    top: 2vh;
    background-color: rgba(1, 102, 188, 0.44);
    text-align: center; /* Alinea el texto horizontalmente */
    border-radius: 20px;
    width: 80%; /* Ancho del texto */
    height: 25vh;
}

/* Portada*/

.portada{
    max-width: auto;
    max-height:100vh ;
}

/*Imagen Container*/


.image-container {
    position: relative;
    display: inline-block; /* Esto asegura que el contenedor se ajuste al tamaño de la imagen */
}

.image-container img {
    display: block; /* Para que la imagen no tenga bordes blancos alrededor */
    width: 100%; /* Ajusta el tamaño de la imagen al tamaño del contenedor */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(1, 102, 188, 0.44); /* Fondo semitransparente para el cuadro de texto */
    color: white; /* Color del texto */
    padding: 20px;
    text-align: center;
    border-radius: 20vh;
}


